Repository symfony/maker-bundle, pull requests merged in 2020-12, with the labels that each got.

#757 fix incorrect usage of sprintf
  src/Maker/MakeDockerDatabase.php
  src/Maker/MakeRegistrationForm.php
  src/Util/YamlSourceManipulator.php
  tests/Util/YamlSourceManipulatorTest.php
Labels: Related Tests Pass, Status: Needs Review

#758 reinstate doctrine/inflector v2 support
  composer.json
Labels: Related Tests Pass, Status: Needs Review

#760 only use attributes if PHP >= 8 && Symfony >= 5.2
  src/Util/PhpCompatUtil.php
  tests/Util/PhpVersionTest.php
Labels: Related Tests Pass, Status: Needs Review

#768 [Tests] fixed deprecated phpunit expectation
  tests/Command/MakerCommandTest.php
Labels: Related Tests Pass, Status: Needs Review

#771 [make:auth] Fixed newline characters
  src/Maker/MakeAuthenticator.php
Labels: Related Tests Pass, Status: Reviewed

#770 fix invalid expiresAt values for ResetPassword & VerifyEmail templates
  src/Maker/MakeRegistrationForm.php
  src/Maker/MakeResetPassword.php
  src/Resources/skeleton/registration/twig_email.tpl.php
  src/Resources/skeleton/resetPassword/ResetPasswordController.tpl.php
  src/Resources/skeleton/resetPassword/twig_email.tpl.php
  src/Resources/skeleton/verifyEmail/EmailVerifier.tpl.php
Labels: Related Tests Pass
