Repository symfony/maker-bundle, pull requests merged in 2021-03, with the labels that each got.

#801 [make:auth] handle session deprecations in 5.3
  src/Maker/MakeAuthenticator.php
  tests/GeneratorTest.php
  tests/fixtures/MakeAuthenticatorLoginFormUserEntity/tests/SecurityControllerTest.php
  tests/fixtures/MakeAuthenticatorLoginFormUserEntityLogout/tests/SecurityControllerTest.php
  tests/fixtures/MakeAuthenticatorSecurity52LoginForm/tests/SecurityControllerTest.php
Labels: Related Tests Pass, Status: Needs Review

#825 [make:crud] use POST method instead of DELETE
  src/Resources/skeleton/crud/controller/Controller.tpl.php
  src/Resources/skeleton/crud/templates/_delete_form.tpl.php
Labels: Related Tests Pass, Status: Needs Review

#840 allowing the user to choose a controller class for make:crud
  src/Maker/MakeCrud.php
  tests/Maker/MakeCrudTest.php
  tests/fixtures/MakeCrudCustomController/src/Entity/SweetFood.php
  tests/fixtures/MakeCrudCustomController/tests/GeneratedCrudControllerTest.php
Labels: Status: Needs Work

#850 [tests][doctrine] handle deprecated override_url
  tests/Doctrine/EntityRegeneratorTest.php
Labels: Related Tests Pass, Status: Needs Review

#853 [make:voter] generate type hints
  src/Maker/MakeVoter.php
  src/Resources/skeleton/security/Voter.tpl.php
Labels: Related Tests Pass, Status: Needs Review

#837 Extend Yaml manipulator add_item_and_sort test
  tests/Util/yaml_fixtures/add_item_and_sort_natural.test
Labels: Related Tests Pass, Status: Reviewed
