Repository symfony/maker-bundle, pull requests merged in 2021-04, with the labels that each got.

#859 use attributes for API Platform when using PHP 8+
  src/Resources/skeleton/doctrine/Entity.tpl.php
  tests/Maker/MakeEntityTest.php
Labels: Related Tests Pass, Status: Reviewed

#822 [make:command] lets use attributes if possible
  src/Maker/MakeCommand.php
  src/Resources/skeleton/command/Command.tpl.php
  tests/Maker/MakeCommandTest.php
Labels: Related Tests Pass, Status: Needs Review

#864 [make:command] template: add void return type to configure method
  src/Resources/skeleton/command/Command.tpl.php
Labels: Related Tests Pass, Status: Reviewed

#860 Add support for Symfony UX Turbo
  .github/workflows/ci.yaml
  src/Doctrine/EntityClassGenerator.php
  src/Maker/MakeEntity.php
  src/Resources/help/MakeEntity.txt
  src/Resources/skeleton/doctrine/Entity.tpl.php
  src/Resources/skeleton/doctrine/broadcast_twig_template.tpl.php
  tests/Maker/MakeEntityTest.php
Labels: Related Tests Pass, Status: Reviewed

#818 [MakeDocker] add support for .yml docker-compose files
  src/Maker/MakeDockerDatabase.php
Labels: Status: Needs Review

#826 Add autocomplete html tag to forms
  src/Maker/MakeRegistrationForm.php
  src/Resources/skeleton/authenticator/login_form.tpl.php
  src/Resources/skeleton/resetPassword/ChangePasswordFormType.tpl.php
  src/Resources/skeleton/resetPassword/ResetPasswordRequestFormType.tpl.php
Labels: Feature
