Repository symfony/maker-bundle, pull requests merged in 2021-02, with the labels that each got.

#800 [Internal] [User] removed unused service from make:user
  src/Maker/MakeUser.php
  src/Resources/config/makers.xml
Labels: Related Tests Pass, Status: Needs Review

#799 [DX] [ResetPassword] lets stop abusing input arguments
  src/Maker/MakeResetPassword.php
Labels: DX, Related Tests Pass, Status: Needs Review

#805 Enhancement: Fullfill interface and move comments to the method description
  src/Security/UserClassBuilder.php
  tests/Security/fixtures/expected/UserEntityEmailWithPassword.php
  tests/Security/fixtures/expected/UserEntityUser_nameWithPassword.php
  tests/Security/fixtures/expected/UserEntityUsernameNoPassword.php
  tests/Security/fixtures/expected/UserEntityUsernameWithPassword.php
  tests/Security/fixtures/expected/UserModelEmailWithPassword.php
  tests/Security/fixtures/expected/UserModelUsernameNoPassword.php
  tests/Security/fixtures/expected/UserModelUsernameWithPassword.php
Labels: Related Tests Pass, Status: Reviewed

#812 [make:auth] fix user email field with capital `E`
  src/Maker/MakeAuthenticator.php
Labels: Bug, Status: Needs Review

#816 [YSM] fix array key regex
  src/Util/YamlSourceManipulator.php
  tests/Util/yaml_fixtures/array_semicolon_separator.test
Labels: Related Tests Pass, Status: Reviewed

#819 drop symfony 3.x support && firm up PHP 8 tests
  .github/workflows/ci.yaml
  .twig_cs.dist
  composer.json
  src/Test/MakerTestEnvironment.php
  src/Test/MakerTwigRuleSet.php
Labels: Related Tests Pass, Status: Needs Review
